<!-- <div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista">
    </div>
</div>


<div class="card-columns m-5 animated fadeIn" *ngIf="ver">
    <div class="card">
        <img class="card-img-top" [src]="usuarios.images[0].url " alt="Card image cap">
        <div class="div-body">
            <h5 class="card-title">Usuario id: {{usuarios.id}}</h5>
            <p class="card-text">Nombre: {{usuarios.display_name}}</p>
        </div>
    </div>
</div>

-->